// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant PostsListItem :
h3
  color $orange-flame-pea

.posts-list-author
  color grey
  font-size 0.8em
  text-align center

.posts-list-item
  width calc(33.3% - 20px)
  margin 10px
  background-color $white
  height 300px
  img
    width 100%
    height 145px
    object-fit  cover
  li
    margin 10px
   #grey
     color $gray-gray

  .product-title
    font-size 1.5em
    font-weight 400
    color $orange-flame-pea

  .product-tagline
    font-size 0.9em
    font-weight 300

  .product-upvotes
    font-size 0.9em
    font-weight 300
    color $gray-gray
